<h2>Signup</h2>

<form id="signup">
  <input type="text" placeholder="email" name="email"/>
  <input type="text" placeholder="name" name="name"/>
  <input type="password" placeholder="password" name="password"/>
  <input type="submit"/>
</form>

